<div id="main">
    <div class="header">
        <h1>{{.book.Name}}</h1>
    </div>

    <div class="content">
        <div class="content">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <img class="pure-img-responsive" src="{{.book.PicturePath}}" height="200">
                </div>
                <div class="pure-u-1-2">
                    Price: {{.book.Price}}
                    <br>
                    Description: {{.book.Description}}
                    <br>
                    <button type="button" class="pure-button" onclick="addToCart({{.book.SkuId}})">Add to Cart</button>
                </div>
            </div>
            {{if .manage}}<a href="/manage/editbook?skuId={{.book.SkuId}}" class="pure-button">Edit it here</a>{{end}}

        </div>
    </div>
</div>

{{if not .manage}}
    <script>
        function addToCart(skuId) {
            $.ajax({
                url: '/api/cart/add?skuId=' + skuId + "&amount=1", // url where to submit the request
                type: "POST", // type of action POST || GET
                dataType: 'json', // data type
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    // $('#userAddResult').html(result.message);
                },
                error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            })
        }
    </script>
{{end}}
