<div id="main">
    <div class="header">
        <h1>Books</h1>
        <h2>{{if .manage}}Manage your books here. {{else}}Hope you can find what you want. {{end}}</h2>
    </div>

    <div class="content">
        <div class="content">
            {{if .manage}}
                <div class="pure-g">
                    <div class="pure-u-20-24"></div>
                    <div class="pure-u-1-24">
                        <a href="/manage/addbook" class="pure-button pure-button-primary">Add Book</a>
                    </div>
                </div>
            {{end}}
            <table class="pure-table pure-table-horizontal">
                <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>

                {{range $d := .books}}
                    <tr>
                        <td><img class="pure-img" src="{{.IconPath}}" height="200"></td>
                        <td><a href="book?skuId={{.SkuId}}">{{.Name}}</a></td>
                        <td>{{ printf "%.50s" .Description}}...</td>
                        <td>{{.Price}}</td>
                        <td>{{if $.manage}}
                                <a href="/manage/editbook?skuId={{.SkuId}}" class="pure-button">Edit</a>{{else}}
                                <button type="button" class="pure-button" onclick="addToCart({{.SkuId}})" id="{{.SkuId}}">Add to Cart
                                </button>{{end}}</td>
                    </tr>
                {{end}}
                </tbody>
            </table>

        </div>
    </div>
</div>


{{if not .manage}}
    <script>
        function addToCart(skuId) {
            $.ajax({
                url: '/api/cart/add?skuId=' + skuId + "&amount=1", // url where to submit the request
                type: "POST", // type of action POST || GET
                dataType: 'json', // data type
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    $('#'+skuId).html(result.message);
                },
                error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            })
        }
    </script>
{{end}}
