<div id="main">
    <div class="header">
        <h1>Cart</h1>
        <h2>Manage your cart here.</h2>
    </div>

    <div class="content">
        <div class="content">
            <table class="pure-table">
                <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Book Name
                    </th>
                    <th>
                        Book Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Amount
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {{range $d := .books}}
                    <tr>
                        <td><img class="pure-img" src="{{.Book.IconPath}}" height="200"></td>
                        <td><a href="book?skuId={{.Book.SkuId}}">{{.Book.Name}}</a></td>
                        <td>{{.Book.Description}}</td>
                        <td>{{.Book.Price}}</td>
                        <td><input type="number" name="amount" value="{{.Book.Amount}}"></td>
                        <td>Delete</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
            <hr>
            <div class="pure-g">
                <div class="pure-u-20-24"></div>
                <div class="pure-u-1-24">
                    <button type="button" class="pure-button pure-button-primary">Check out</button>
                </div>
            </div>

        </div>
    </div>
</div>
