<div id="main">
    <div class="header">
        <h1>Cart</h1>
        <h2>Manage your cart here.</h2>
    </div>

    <div class="content">
        <div class="content">
            {{ $length := len .books }}
            {{ if eq $length 0 }}
                <a href="/">Get some books!</a>
            {{else }}
                <table class="pure-table stretch">
                    <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Amount
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {{range $d := .books}}
                        <tr>
                            <td><img class="pure-img" src="{{.Book.IconPath}}" height="400"></td>
                            <td><a href="book?skuId={{.Book.SkuId}}">{{.Book.Name}}</a></td>
                            <td>{{ printf "%.50s" .Book.Description}}...</td>
                            <td>{{.Book.Price}}</td>
                            <td><input class="pure-input-1-8" type="number" name="amount" min="0" value="{{.Amount}}"
                                       id="amount-{{.Book.SkuId}}"></td>
                            <td>
                                <button type="button" class="pure-button pure-button-primary"
                                        id="button-{{.Book.SkuId}}"
                                        onclick="updateCart({{.Book.SkuId}},getAmount({{.Book.SkuId}}))">Update
                                </button>
                                <br>
                                <br>
                                <button type="button" class="pure-button" onclick="updateCart({{.Book.SkuId}}, 0)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <hr>
            {{ end }}
            <div class="pure-g">
                <div class="pure-u-20-24" id="orderResult"></div>
                <div class="pure-u-1-24">
                    <button id="checkout" type="button" class="pure-button pure-button-primary">Check out</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getAmount(skuId) {
        return $("#amount-" + skuId).val();
    }

    function updateCart(skuId, amount) {
        $.ajax({
            url: '/api/cart/update?skuId=' + skuId + "&amount=" + amount, // url where to submit the request
            type: "PUT",
            dataType: 'json', // data type
            contentType: 'application/json;charset=UTF-8',
            success: function (result) {
                $('#button-' + skuId).html(result.message);
            },
            error: function (xhr, resp, text) {
                console.log(xhr, resp, text);
            }
        })
    }
</script>


<script>
    $(document).ready(function () {
        // click on button submit
        $("#checkout").on('click', function () {
            // send ajax
            $.ajax({
                url: '/api/cart/placeorder', // url where to submit the request
                type: "POST", // type of action POST || GET
                dataType: 'json', // data type
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    $('#orderResult').html(result.message);
                },
                error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            })
        })
    });
</script>
