<div id="main">
    <div class="header">
        <h1>Orders</h1>
        <h2>Check your orders.</h2>
    </div>

    <div class="content">
        <table class="pure-table pure-table-striped">
            <thead>
            <tr>
                <th>
                    Order #
                </th>
                <th>
                    Date
                </th>
                <th>
                    Order Detail
                </th>
                <th>
                    Address
                </th>
                <th>
                    Order Status
                </th>
            </tr>
            </thead>
            <tbody>

            {{range $d := .orders}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.OrderDate.Format "2006-01-02 15:04:05"}}</td>
                    <td>
                        <table class="pure-table">
                            <tbody>
                            {{range $book := .OrderItems}}
                                <tr>
                                    <td><a href="book?skuId={{.Book.SkuId}}">{{.Book.Name}}</a></td>
                                    <td>{{.Amount}}</td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </td>
                    <td>{{.Address.RecipientName}} {{.Address.RecipientAddr}} {{.Address.RecipientPhone}}</td>
                    <td>{{.OrderStatus}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>

    </div>
</div>
